services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: sorairo_app
    volumes:
      - ./src:/var/www/html
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      mail:
        condition: service_healthy
    command: php artisan serve --host=0.0.0.0 --port=8000
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: sorairo_db
    environment:
      POSTGRES_DB: sorairo_note2_development
      POSTGRES_USER: sorairo
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sorairo_note2"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  mail:
    image: axllent/mailpit:latest
    container_name: sorairo_mail
    ports:
      - "1025:1025"
      - "8025:8025"
    restart: unless-stopped

volumes:
  pgdata:
